<!-- footer -->
<footer class="border-t mt-32 pt-12 pb-32 px-4 lg:px-0">
    <div class="flex select-none">

      <div class="w-full md:w-1/3 lg:w-1/4">
        <h6 class="font-semibold text-gray-700 mb-4 text-sm sm:text-lg">Visit to us at</h6>
        <ul>
          {% for item in site.data.visit-to-us-at %}
          <li> <a href="{{ item.link }}" class="block text-gray-600 py-2 text-sm sm:text-lg" target="_self">{{ item.name }}</a> </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-full md:w-1/3 lg:w-1/4">
        <h6 class="font-semibold text-gray-700 mb-4 text-sm sm:text-lg">Like us at</h6>
        <ul>
          {% for item in site.data.like-us-at %}
          <li> <a href="{{ item.link }}" class="block text-gray-600 py-2 text-sm sm:text-lg" target="_blank">{{ item.name}}</a> </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-full md:w-1/3 lg:w-1/4">
        <h6 class="font-semibold text-gray-700 mb-4 text-sm sm:text-lg">Write to us at</h6>
        <ul>
          {% for item in site.data.write-to-us-at %}
          <li> <a href="{{ item.link }}" class="block text-gray-600 py-2 text-sm sm:text-lg" target="_top">{{ item.name}}</a> </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <a class="mt-7 text-gray-600 py-2 text-sm" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      CC BY-NC-SA 4.0
    </a>

  </footer>
  <!--footer ends-->