<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <title>{{ site.title }}</title>
</head>
<body>

    <header id="banner" class="bg-center bg-fixed bg-no-repeat bg-cover h-screen relative">
		<div class="h-screen bg-opacity-50 bg-black flex items-center justify-center" style="background:rgba(0,0,0,0.3);">
			<div class="mx-2 text-center">
				<h1 id="change" class="text-gray-100 font-extrabold text-3xl xs:text-4xl md:text-5xl select-none">
					{{ site.title }}
                </h1>
                <div class="inline-flex">
                </div>
            </div>
        </div>
    </header>
    <main class="bg-white p-7 lg:p-14 md:p-9">
        <div id="start" class="grid grid-cols-1 md:grid-cols-3 gap-3 max-w-7xl mx-auto select-none">
        {% for post in site.posts %}    
            <!--POST {{ post.id }}-->
            <a href="{{ post.url }}">
            <div class="inline-grid bg-white hover:shadow-2xl rounded-lg overflow-hidden transform hover:-translate-y-5 ease-in-out duration-100 cursor-pointer">
                <!--Banner image-->
                <div class="bg-black w-full h-56">
                    <img class="w-full h-full object-cover object-center  transform duration-100 ease-in-out"
                    src="{{ post.banner-url }}" alt="{{ post.title }}"> 
                </div>
                <div class="md:p-8 p-2">
                    <!--Tag-->
                    <p class="text-indigo-500 font-semibold text-base mt-2">{{ post.category }}</p>
                    <!--Title-->
                    <h1
                        class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize"
                    >
                    {{ post.title }}
                    </h1>
                    <!--Description-->
                    <div class="">
                        <p class="text-base font-medium tracking-wide text-gray-600 mt-3 line-clamp-5">
                            {{ post.content | strip_html }}
                        </p>
                    </div>
                    <div class="flex items-center space-x-2 mt-6">
                        <!--Author's profile photo-->
                        {% assign authordata = site.data.authors | where_exp: "item", "item.name == post.author" %}
                        {% for authorinfo in authordata %}
                        <img
                            class="w-10 h-10 object-cover object-center rounded-full"
                            src="{{ authorinfo.author-img }}"
                            alt="{{ authorinfo.name }}"
                        />
                        {% endfor %}
                        <div>
                            <!-- Author name -->
                            <p class="text-gray-900 font-semibold">{{ post.author }}</p>
                            <p class="text-gray-500 font-semibold text-sm">
                                {{ post.date | date_to_string: "ordinal", "US" }} &middot; {{ post.content | strip_html | number_of_words | divided_by: 200.0 | round | append: ' min read'}}
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
            </a>
            <!--End of {{ post.id }} card-->
        {% endfor %}    
        </div>
        {% include footer.html %}
    </main>
</body>
</html>
